[submodule "vengine/lib3dpart/spdlog"]
	path = vengine/lib3dpart/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vengine/lib3dpart/GLFW"]
	path = vengine/lib3dpart/GLFW
	url = https://github.com/vadimvinokurov/glfw.git
[submodule "vengine/lib3dpart/imgui"]
	path = vengine/lib3dpart/imgui
	url = https://github.com/vadimvinokurov/imgui.git
